<a href="https://colab.research.google.com/github/AkshathaKamath97/Akshathakamath/blob/master/Copy_of_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [0]:
import random
list = random.sample(range(1,100),12)
print ("Unsorted list is:", list)
list.sort()
print ("Sorted list is:", list)
list.sort(reverse=True)
print ("Reverse sorted list is:", list)
a = sum(list)/len(list)
print ("Average of list is:", a)

Unsorted list is: [78, 22, 47, 25, 99, 36, 24, 5, 95, 98, 49, 44]
Sorted list is: [5, 22, 24, 25, 36, 44, 47, 49, 78, 95, 98, 99]
Reverse sorted list is: [99, 98, 95, 78, 49, 47, 44, 36, 25, 24, 22, 5]
Average of list is: 51.833333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [8]:
import string
import re

def punct(p):
  punctuation = "'.!?,;:%^&\'"
  for x in p:
    if x in punctuation:
      p=p.replace(x," ")
  return(p)

vowels = "aeiouAEIOU"
sen1 = input("Enter the first string: \n")
a = re.findall(r"[\w']+|['.!?,;:%^&\']", sen1)
print(a)
print("\n")
sen2 = input("Enter the second string: \n")
b = re.findall(r"[\w']+|['.!?,;:%^&\']", sen2)
print(b)
print("\n")
print("On removing punctuations:")
c = punct(sen1)
d = c.split()
print(d)
e = punct(sen2)
f = e.split()
print(f)
print("\n")
g = d + f
g = list(dict.fromkeys(g))
print("List of all words from both sentences are:")
print(g)
full = sen1 + sen2
count = {}.fromkeys(vowels,0)
for char in full:
  if char in count:
    count[char] += 1
print("\nThe count of vowels are:")
print(count)

Enter the first string:
Hello!
['Hello', '!']


Enter the second string:
Hello
['Hello']


On removing punctuations:
['Hello']
['Hello']


List of all words from both sentences are:
['Hello']

The count of vowels are:
{'a': 0, 'e': 2, 'i': 0, 'o': 2, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [1]:
import string
import re
import math as m

def format(table):
  out=""
  for item in head[0]:
    out += "" + str(item) + " "
  out += "\n--------------------"
  return out

radii = [item for item in range(1,11)]
print(radii)

V = [((4/3)*(m.pi)*r*r*r) for r in radii]
print(V)
print("\n")

head = [['r','V'],[]]
table = [radii,V]
print("The volume of the given radius are:\n");
print(format(head))
for a,b in zip(*table):
  print(a,b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4.1887902047863905, 33.510321638291124, 113.09733552923255, 268.082573106329, 523.5987755982989, 904.7786842338604, 1436.755040241732, 2144.660584850632, 3053.628059289279, 4188.790204786391]


The volume of the given radius are:

r V
--------------------
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923255
4 268.082573106329
5 523.5987755982989
6 904.7786842338604
7 1436.755040241732
8 2144.660584850632
9 3053.628059289279
10 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [0]:
import pandas as pd
import io
from google.colab import files

In [3]:
uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [4]:
#To calculate the difference in the number of Occupied Housing Units from year to year and printing it. 
#The difference is calculated for two consecutive years and printing the values in the ascending order.
df = pd.read_csv("Assignment1_denton_housing.csv")
a = df.loc[df['title_field'] == 'Occupied Housing Units']
a = a.sort_values('year')
print("Occupied housing office from 2008 to 2014  is:")
print(a)
d = a[['value']]
d = d.diff(periods=1, axis = 0)
print("\nThe difference between two consecutive years is:")
print(d)
print("\nThe difference between two consecutive years in ascending order is: ")
d.sort_values('value')

Occupied housing office from 2008 to 2014  is:
    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

The difference between two consecutive years is:
     value
20     NaN
17  -795.0
14  5091.0
11  -303.0
8   1404.0
5   1565.0
2   2622.0

The difference between two consecutive years in ascending order is:

     value
17  -795.0
11  -303.0
8   1404.0
5   1565.0
2   2622.0
14  5091.0
20     NaN

In [5]:
#For all the years this program calculates the percentage of housing units which are vacant an occupied and printed in a format year, vacant % and occupied %
arr = ['Occupied Housing Units', 'Vacant Housing Units', 'Total Housing Units']
maindf = df.loc[df['title_field'].isin(arr)]
occupied = df.loc[df['title_field'] == 'Occupied Housing Units']
vacant = df.loc[df['title_field'] == 'Vacant Housing Units']
total = df.loc[df['title_field'] == 'Total Housing Units']
year = occupied[['year']]
year.index = range(7)
ls1 = occupied.values.tolist()
ls2 = vacant.values.tolist()
ls3 = total.values.tolist()
ls4 = []
ls5 = []

for i in range(0,7):
  occupied_percent = (ls1[i][2]/ls3[i][2])*100
  vacant_percent = (ls2[i][2]/ls3[i][2])*100
  ls4.append(occupied_percent)
  ls5.append(vacant_percent)
df1 = pd.DataFrame(ls4, columns=["Occupied %"])
df2 = pd.DataFrame(ls5, columns=["Vacant %"])
df3 = pd.concat([df2,df1], axis = 1)
new = pd.concat([year,df3], axis = 1)
new = new.sort_values('year')
print(new)

   year   Vacant %  Occupied %
6  2008  10.882653   89.117347
5  2009   9.071116   90.928884
4  2010   8.142556   91.857444
3  2011   9.379522   90.620478
2  2012   6.677600   93.322400
1  2013   8.801788   91.198212
0  2014   5.730111   94.269889

In [6]:
#To calculate and to print the values and years in which the highest number of housing units were vacant and occupied and printing it in a format title_field, year and value.
occupied = df.loc[df['title_field'] == 'Occupied Housing Units']
vacant = df.loc[df['title_field'] == 'Vacant Housing Units']
print(occupied)
print("\n",vacant)
x = vacant.sort_values('value', ascending = False)
a1 = x.iloc[0].values.tolist()
a1[0], a1[1] = a1[1],a1[0]
y = occupied.sort_values('value', ascending = False)
a2 = y.iloc[0].values.tolist()
a2[0], a2[1] = a2[1],a2[0]
a3 = [a1,a2]
new_df = pd.DataFrame(columns=['title_field','year','value'], data=a3)
print("\n",new_df)

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711

     year           title_field  value
1   2014  Vacant Housing Units   2814
4   2013  Vacant Housing Units   4215
7   2012  Vacant Housing Units   3013
10  2011  Vacant Housing Units   4213
13  2010  Vacant Housing Units   3635
16  2009  Vacant Housing Units   3583
19  2008  Vacant Housing Units   4483

               title_field  year  value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [7]:
#To calculate the harmonic mean of the total housing units and to print it
!pip install scipy
p = df.loc[df['title_field'] == 'Total Housing Units']
print("\n",p)
from scipy import stats
print("\nThe harmonic mean of the Total Housing Units is:")
stats.hmean(p.iloc[:,2],axis = 0)

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.17.5)

     year          title_field  value
0   2014  Total Housing Units  49109
3   2013  Total Housing Units  47888
6   2012  Total Housing Units  45121
9   2011  Total Housing Units  44917
12  2010  Total Housing Units  44642
15  2009  Total Housing Units  39499
18  2008  Total Housing Units  41194

The harmonic mean of the Total Housing Units is:

44398.28543969185