# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [3]:
string="akshatha"
print(len(string))

8

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [69]:
sentence="outlook.com"
character={}
for i in sentence:
  if i in character:
    character[i] += 1
  else:
    character[i] = 1
print("per i in character in '{}' is:\n {}" .format(sentence,str(character)))

per i in character in 'outlook.com' is:
 {'o': 4, 'u': 1, 't': 1, 'l': 1, 'k': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [17]:
list=[]
num=int(input("numbers:"))
for n in range(num):
  num=int(input("num:"))
  list.append(num)
print("sum",sum(list))

numbers:10
num:2
num:2
num:2
num:2
num:2
num:2
num:2
num:2
num:2
num:2
sum 20

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [71]:
def replace(a1):
  char = a1[0]
  a1 = a1.replace(char, '$')
  a2 = char + a1[1:]
  return a2
print(replace('students'))

student$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [73]:
def formula(a,b):
  return 3.14*(1+(float(a)/float(b) )**3 )
a = input("a= ")
b= input ("b= ")
formula(a,b)

a= 6
b= 7

5.11737609329446

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [78]:
s1 = {10:20,30:40}
s2 = {30:40,40:50}
s3 = {20:10,50:80}

s4 = {}
for dic in [s1,s2,s3]:
   s4.update(dic)
print(s4)

{10: 20, 30: 40, 40: 50, 20: 10, 50: 80}

(7) Write a Python program to check whether an element exists within a tuple.

In [83]:
tuple = ("Apple", "Mango", "Grapes", "Banana","kiwi")
string = input("input a fruit name:")
if string in tuple:
  print(string + " is exist")

input a fruit nmae:Apple
Apple is exits

(8) Write a Python program to find maximum and the minimum value in a set.

In [32]:
#def max(sets):
#def min(sets):
#return(max[sets])
#return(min(sets))
sets=set([1,2,3,4,5,6,7,8,9])
print(max(sets))
print(min(sets))

9
1

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [63]:
import random
list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  s = random.choices(list, k=6)
  list=[i for i in list if i not in s]
  print("Group " +str(i+1)+": ",s)

Group 1:  ['dp1080', 'pt0218', 'vmb0067', 'nk0327', 'sa0753', 'tpk0023']
Group 2:  ['ss1976', 'pb0283', 'tbl0041', 'ss1976', 'ag1121', 'am1823']
Group 3:  ['an0521', 'vk0222', 'mk0830', 'mj0396', 'bs0490', 'ps0501']
Group 4:  ['ap0975', 'rp0477', 'laa0240', 'vp0241', 'ry0104', 'vcd0017']